<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneur to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, incidunt, alias eius officia culpa expedita numquam non iste perspiciatis cum ipsum fuga unde illo quae sed beatae vel libero ducimus!
    </p>
</div>