<div class="container text-center">
    <h1>About Me</h1>
    <p>I built this page as part of a tutorial on how to design and deploy a ruby on rails web application. For those unfamiliar, in practical terms the difference between a web site and a web app is in the way you interact with the page.
    </p>
</div>