<div class="home-callout text-center container-fluid">
    <h1>Welcome To Membership Site</h1>
    <h3>
        <p>A fully functional membership site with user profiles and ecommerce built on rails where you can sign up and pay with Stripe.</p> 
        <p>I built this as part of my rails training. </p>
    </h3>
</div>
<div class="container home-signup-links">
    <div class='row'>
        <div class='col-md-6'>
            <div class='well'>
                <h2 class='text-center'>Basic Membership</h2>
                <h4>Sign up for free and get basic access.</h4>
                <br/>
                <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-lg btn-block" %>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='well'>
                <h2 class='text-center'>Pro Membership</h2>
                <h4>Sign up for the pro account for $10 per month and get access to the community and contact information.</h4>
                
                <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success btn-lg btn-block" %>
            </div>
        </div>
    </div>
</div>