.img-thumbnail {
    max-height:240px;
    max-width: 240px;

}

.well.profile-block{
    color: #ffffff;
    
    h3{
        margin-top: 0;
    }
}

.well.profile-description{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.profile-contact{
    background-color: #5bc0de;
    border-color: #46b8da;  
}

.job-title-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}